<div>
    <ng-container *ngIf="roles$ | async as roles">

        <form>

            <div>
                <label>Username</label>
                <input />
            </div>

            <div>
                <label>Password</label>
                <input />
            </div>

            <div>
                <label>Confirm password</label>
                <input />
            </div>

            <div>
                <label>First name</label>
                <input />
            </div>

            <div>
                <label>Last name</label>
                <input />
            </div>

            <div>
                <label>Email</label>
                <input />
            </div>

            <div>
                <label>Roles</label>
                <div>
                    <div *ngFor="let role of roles; let i = index">
                        <label>
                            {{role.name}}
                            <input type="checkbox" [value]="role.roleId"/>
                        </label>
                    </div>
                </div>
            </div>
        </form>
    </ng-container>
</div>
