
<div class="container-lg" >
    <ng-container *ngIf="roles$ | async as roles" >

        <div class="row justify-content-center my-5">
            <div class="col-lg-6 ozadje">
                <div class="text-center rob">
                    <h2>Add a new user</h2>
                </div>
                <form [formGroup]="userForm" (ngSubmit)="createUser()" class="rob">
                <div>
                    <div>
                        <label for="username" class="form-label">Username:</label>
                        <input id="username" class="form-control" formControlName="username"
                            [class.is-invalid]="hasError(userForm.get('username'))"
                               placeholder="e.g. NewUser" />
                        <div class="invalid-feedback" *ngIf="hasError(userForm.get('username'), 'required')">
                            Username is required!
                        </div>
                         <div class="invalid-feedback" *ngIf="hasError(userForm.get('username'), 'usernameExists')">
                            Username already exists!
                        </div>
                    </div>

                    <div>
                        <label for="password" class="form-label zgorjirob">Password:</label>
                        <input type="password" id="password" class="form-control"
                            formControlName="password" [class.is-invalid]="hasError(userForm.get('password'))"
                            placeholder="e.g. Password12345"/>
                        <div class="invalid-feedback" *ngIf="hasError(userForm.get('password'), 'required')">
                            Password is required!
                        </div>
                        <div class="invalid-feedback" *ngIf="hasError(userForm.get('password'), 'minlength')">
                            Password must be at least 12 characters long!
                        </div>
                        <div class="invalid-feedback" *ngIf="hasError(userForm.get('password'), 'maxlength')">
                            Password can be at most 128 characters long!
                        </div>
                    </div>



                    <div>
                        <label for="confirmpassword" class="form-label zgorjirob">Confirm password:</label>
                        <input id="confirmpassword" class="form-control" formControlName="confirmPassword" type="password" placeholder="e.g. Password12345"
                               [class.is-invalid]="hasError(userForm, 'password')"/>
                        <div class="invalid-feedback" *ngIf="hasError(userForm, 'password')">
                            Password does not match!
                        </div>
                    </div>

                    <div>
                        <label for="firstname" class="form-label zgorjirob">First name:</label>
                        <input id="firstname" class="form-control" formControlName="firstName" [class.is-invalid]="hasError(userForm.get('firstName'))" placeholder="e.g. John"/>
                        <div class="invalid-feedback" *ngIf="hasError(userForm.get('firstName'), 'required')">
                            First name is required!
                        </div>
                    </div>

                    <div>
                        <label for="lastname" class="form-label zgorjirob">Last name:</label>
                        <input id="lastname" class="form-control" formControlName="lastName" [class.is-invalid]="hasError(userForm.get('lastName'))" placeholder="e.g. Doe"/>
                        <div class="invalid-feedback" *ngIf="hasError(userForm.get('lastName'), 'required')">
                            Last name is required!
                        </div>
                    </div>

                    <div>
                        <label for="email" class="form-label zgorjirob">Email address:</label>
                        <input id="email" class="form-control" formControlName="email"
                            placeholder="e.g. JohnDoe@example.com"
                            [class.is-invalid]="hasError(userForm.get('email'))"/>
                        <div class="invalid-feedback" *ngIf="hasError(userForm.get('email'), 'required')">
                            Email address is required!
                        </div>
                        <div class="invalid-feedback" *ngIf="hasError(userForm.get('email'), 'email')">
                            Invalid email address!
                        </div>
                    </div>

                    <div>
                        <label class="zgorjirob">Roles:</label>
                        <div class="levirob">
                        <div *ngFor="let role of roles; let i = index" class="form-check">
                            <input class="form-check-input" type="checkbox" id="role-input-{{i}}"
                                [value]="role.roleId" (change)="onRoleSelect($event)"
                                [class.is-invalid]="hasErrorNoTouch(userForm.get('grantedRoles'))"
                            />
                            <label class="form-check-label" for="role-input-{{i}}">
                                {{role.name}}
                            </label>
                            <div class="invalid-feedback" *ngIf="i !== 0 && hasErrorNoTouch(userForm.get('grantedRoles'), 'sysRolesRequired')">
                                At least one role must be granted!
                            </div>
                            <div class="invalid-feedback" *ngIf="i !== 0 && hasErrorNoTouch(userForm.get('grantedRoles'), 'sysRolesAdmin')">
                                Admin users require 'user' role as well.
                            </div>
                        </div>
                        </div>


                    </div>

                    <div class="d-flex justify-content-end">
                        <button type="submit" class="btn btn-primary" [disabled]="isInvalid(userForm)">Create</button>
                    </div>


                </div>
                </form>
            </div>
        </div>
    </ng-container>
</div>

