<header>
    <div class="first-links">

        <div class="brand-link">
            <a routerLink="/">
                SCRUM
            </a>
        </div>

        <sc-project-picker></sc-project-picker>
    </div>
    <div class="second-links">
        <ng-container *ngIf="auth$ | async as auth; else noAuth">
            <ng-container *ngIf="auth.status === authStates.AUTHENTICATED; else noAuth">

                <ng-container *ngIf="timer$ | async as timer; else endTimer">
                    <ng-container *ngIf="timer && timer.diff">
                        <span class="timer" (click)="stopWorkingOnTask()"
                            [tooltip]="timerTooltip">{{(timer.diff / 1000) | friendlySeconds}}</span>
                    </ng-container>
                    <ng-template #timerTooltip>
                        #{{timer.story}} {{timer.task | shortString}} (click to stop task)
                    </ng-template>
                </ng-container>
                <ng-template #endTimer>
                    <span></span>
                </ng-template>

                <ng-container *ngIf="auth.parsedAccessToken.roles.includes('admin')">
                    <div class="nav-link" tooltip="Admin dashboard" placement="bottom">
                        <a routerLink="/admin" class="admin-btn">
                            <fa-icon [icon]="['fas', 'cog']"></fa-icon>
                        </a>
                    </div>
                </ng-container>

                <div class="nav-link userinfo-link">
                    <sc-user-icon [info]="auth.parsedAccessToken" (whenLogoutClicked)="logout()"></sc-user-icon>
                </div>
            </ng-container>
        </ng-container>
        <ng-template #noAuth>
            <div class="nav-link">
                <div (click)="login()" class="login-btn" tooltip="Log in" [placement]="'bottom'">
                    <fa-icon [icon]="['fas', 'arrow-right-to-bracket']"></fa-icon>
                </div>
            </div>
        </ng-template>


    </div>
</header>
