<div class="modal-header">
    <h4 class="modal-title">Are you sure?</h4>
    <button class="btn-close close" aria-label="Close" type="button" (click)="closeDialog()"></button>
</div>
<div class="modal-body">
    <p class="text-center">Are you sure you want to reject story '{{story.title}}'?</p>
    <form [formGroup]="rejectForm">
        <div class="form-group">
            <label>Reason:</label>
            <textarea formControlName="markdownContent" #mdEditor></textarea>
            <div class="invalid-feedback force-invalid-feedback" *ngIf="hasError(rejectForm.get('rejectComment'), 'required')">
                Reason is required!
            </div>
        </div>
    </form>
</div>
<div class="modal-footer justify-content-center">
    <button type="button" class="btn btn-outline-primary" (click)="closeDialog()">Decline</button>
    <button type="button" class="btn btn-danger"
        [disabled]="isInvalid(rejectForm)"
        (click)="rejectStory()">Confirm</button>
</div>
