@import "../variables";

.story-row {
    margin-bottom: 5px;
    background-color: $white;

    &.active-story {
        background-color: #f5ffe2;
    }
    &:not(.active-story) {
        .panel-heading {
            background-color: $white;
        }
    }
    .panel-body {
        background-color: $white;
    }
}
