@import "src/styles/variables";

.project-links {
    a {
        color: $white;
    }
    .form-select {
        width: 160px;
        font-size: 0.9rem;
        line-height: 90%;
        height: 26px;
    }
}
