<!-- If user is authenticated, display project picker and project context -->
<div class="d-flex justify-content-start align-items-center project-links">
    <ng-container *ngIf="auth$ | async as auth">
        <ng-container *ngIf="auth.status === authStates.AUTHENTICATED">

            <ng-container *ngIf="projects$ | async as projects">
                <ng-container *ngIf="projects.entities.length > 0">
                    <div>
                        <select class="custom-select" [formControl]="projectCtrl">
                            <option *ngFor="let project of projects.entities"
                                [ngValue]="project.id">{{project.name}}</option>
                        </select>
                    </div>

                    <ng-container *ngIf="nav$ | async as nav">
                        <ng-container *ngIf="nav.status === navStates.IN_CONTEXT">
                            <div class="nav-link">
                                <a [routerLink]="['/projects', nav.projectId]">
                                    Info
                                </a>
                            </div>

                            <div class="nav-link">
                                <a [routerLink]="['/projects', nav.projectId, 'stories']">
                                    Stories
                                </a>
                            </div>

                            <div class="nav-link">
                                <a [routerLink]="['/projects', nav.projectId, 'sprints']">
                                    Sprints
                                </a>
                            </div>

                            <div class="nav-link">
                                <a [routerLink]="['/projects', nav.projectId, 'docs']">
                                    Documentation
                                </a>
                            </div>
                        </ng-container>
                    </ng-container>
                </ng-container>
            </ng-container>
        </ng-container>
    </ng-container>
</div>
