<div class="hours-container">

    <div class="mt-4 mb-4">
        <h1>Logged hours</h1>
    </div>

    <ng-container *ngIf="hours$ | async as hours">
        <ng-container *ngIf="hours.entities.length > 0; else noHours">
            <div>
                <div class="row header-row">
                    <strong class="col-2">Date</strong>
                    <strong class="col-1">Amount</strong>
                    <strong class="col-8">Task</strong>
                    <strong class="col-1">Story ID</strong>
                </div>
                <sc-hour-row *ngFor="let hour of hours.entities"
                    [taskHour]="hour">
                </sc-hour-row>
            </div>
            <div class="pagination-container">
                <pagination
                    [itemsPerPage]="limit$.value"
                    [totalItems]="hours.count"
                    (pageChanged)="newPage($event)"
                ></pagination>
            </div>
        </ng-container>
        <ng-template #noHours>
            <p>No hours yet!</p>
        </ng-template>
    </ng-container>

</div>
