<div>
    <ng-container *ngIf="project$ | async as project">
        <div class="mt-4 mb-3">
            <h3 class="text-uppercase">{{project.name}}</h3>
        </div>
        <tabset>
            <tab heading="Wall">
                <sc-project-wall [projectId$]="projectId$"></sc-project-wall>
            </tab>
            <tab heading="Members">
                <sc-project-members-list [projectId$]="projectId$"></sc-project-members-list>
            </tab>
        </tabset>
    </ng-container>
</div>
