<div *ngIf="nav$ | async as nav">
    <div class="mt-4 mb-4 d-flex justify-content-between align-items-center">
        <h1 class="mb-0">Project stories</h1>

        <ng-container *ngIf="nav.status === navStates.IN_CONTEXT">
            <ng-container *ngIf="nav.projectRole.roleId === projectRoles.SCRUM_MASTER || nav.projectRole.roleId === projectRoles.PRODUCT_OWNER">
                <a class="btn btn-outline-primary" routerLink="new">Add a new story</a>
            </ng-container>
        </ng-container>
    </div>

    <ng-container *ngIf="storiesForm.length > 0">
        <div class="story-actions">
            <ng-container *ngIf="nav.status === navStates.IN_CONTEXT">
                <ng-container *ngIf="nav.projectRole.roleId === projectRoles.SCRUM_MASTER">
                    <button class="btn btn-primary" (click)="openSprintModal()">Add stories to sprint</button>
                </ng-container>
            </ng-container>
        </div>
    </ng-container>

    <div>
        <ng-container *ngIf="stories$ | async as stories">
            <ng-container *ngIf="stories.entities.length > 0; else noStories">
                <div class="story-filters">
                    <span class="filter" [class.applied]="filter$.value === 'ALL'" (click)="applyFilter('ALL')">All</span>
                    <span class="filter" [class.applied]="filter$.value === 'NOT_REALIZED'" (click)="applyFilter('NOT_REALIZED')">Not realized</span>
                    <span class="filter" [class.applied]="filter$.value === 'REALIZED'" (click)="applyFilter('REALIZED')">Realized</span>
                    <span class="filter" [class.applied]="filter$.value === 'ESTIMATED'" (click)="applyFilter('ESTIMATED')">Estimated</span>
                    <span class="filter" [class.applied]="filter$.value === 'NOT_ESTIMATED'" (click)="applyFilter('NOT_ESTIMATED')">Not estimated</span>
                </div>

                <div>
                    <accordion [isAnimated]="true">
                        <accordion-group *ngFor="let story of stories.entities">
                            <div accordion-heading class="detail-header">
                                <ng-container *ngIf="nav.status === navStates.IN_CONTEXT">
                                    <ng-container *ngIf="nav.projectRole.roleId === projectRoles.SCRUM_MASTER">
                                        <ng-container *ngIf="story.timeEstimate && !story.realized; else checkPlaceholder">
                                            <div class="story-check">
                                                <input type="checkbox" [value]="story.id" (click)="onStorySelect($event)"/>
                                            </div>
                                        </ng-container>
                                        <ng-template #checkPlaceholder>
                                            <div class="story-check check-placeholder"></div>
                                        </ng-template>
                                    </ng-container>
                                </ng-container>
                                <div>
                                    {{story.title}} (#{{story.numberId}})
                                </div>
                            </div>
                            <div>
                                <p>{{story.description}}</p>
                                <div *ngIf="story.tests && story.tests.length > 0">
                                    <h5>Acceptance tests</h5>
                                    <div>
                                        <ul>
                                            <li *ngFor="let test of story.tests">{{test.result}}</li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </accordion-group>

                    </accordion>
                </div>
                <div class="pagination-container">
                    <pagination
                        [itemsPerPage]="limit$.value"
                        [totalItems]="stories.count"
                        (pageChanged)="newPage($event)"
                    ></pagination>
                </div>
            </ng-container>
            <ng-template #noStories>
                <p>No stories have been created yet for this project.</p>
            </ng-template>
        </ng-container>
    </div>

</div>
