@import "src/styles/variables";

.story-actions {
    margin-bottom: 20px;
}
.detail-header {
    display: flex;
    align-items: center;

    .story-check {
        margin-right: 15px;
        &.check-placeholder {
            min-width: 14px;
        }
    }
}
.pagination-container {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 40px;
}
.story-filters {
    display: flex;
    align-items: center;
    margin-bottom: 10px;

    .filter {
        margin-right: 15px;
        color: $primary-color;

        &:hover {
            cursor: pointer;
        }
        &:last-child {
            margin-right: 0;
        }
    }
}
