<div *ngIf="nav$ | async as nav">
    <div class="mt-4 mb-4 d-flex justify-content-between align-items-center">
        <h1 class="mb-0">Product backlog</h1>

        <ng-container *ngIf="nav.status === navStates.IN_CONTEXT">
            <ng-container *ngIf="nav.projectRole.roleId === projectRoles.SCRUM_MASTER || nav.projectRole.roleId === projectRoles.PRODUCT_OWNER">
                <a class="btn btn-outline-primary" routerLink="new">Add a new story</a>
            </ng-container>
        </ng-container>
    </div>

    <ng-container *ngIf="storyPoints$ | async as storyPoints">
        <ng-container *ngIf="storiesForm.length > 0">
            <div class="story-actions">
                <ng-container *ngIf="nav.status === navStates.IN_CONTEXT">
                    <ng-container *ngIf="nav.projectRole.roleId === projectRoles.SCRUM_MASTER">
                        <ng-container *ngIf="activeSprint$ | async as activeSprint">
                            <ng-container *ngIf="activeSprint.active">
                                <button class="btn btn-primary"
                                    [disabled]="(storyPoints + activeSprint.assignedPoints) > activeSprint.expectedSpeed"
                                    (click)="addToSprint(activeSprint.sprintId)">Add stories to sprint</button>
                                <span class="points-sum">
                                    <span>Currently assigned points:</span>
                                    <span [class.over-limit]="(storyPoints + activeSprint.assignedPoints) > activeSprint.expectedSpeed">
                                        {{storyPoints + activeSprint.assignedPoints}} / {{activeSprint.expectedSpeed}}
                                    </span>
                                </span>
                            </ng-container>
                        </ng-container>
                    </ng-container>
                </ng-container>
            </div>
        </ng-container>
    </ng-container>

    <div>
        <ng-container *ngIf="stories$ | async as stories">
            <div class="story-filters">
                <div class="btn-group filter">
                    <button class="btn btn-sm"
                        [class.btn-secondary]="filterRealized$.value === 'true'"
                        [class.btn-outline-secondary]="filterRealized$.value === 'false' || !filterRealized$.value"
                        (click)="toggleFilter('true', filterRealized$)"
                    >Realized</button>
                    <button class="btn btn-sm"
                        [class.btn-secondary]="filterRealized$.value === 'false'"
                        [class.btn-outline-secondary]="filterRealized$.value === 'true' || !filterRealized$.value"
                        (click)="toggleFilter('false', filterRealized$)"
                    >Not realized</button>
                </div>

                <div class="btn-group filter">
                    <button class="btn btn-sm"
                        [class.btn-secondary]="filterAssigned$.value === 'true'"
                        [class.btn-outline-secondary]="filterAssigned$.value  === 'false' || !filterAssigned$.value"
                        (click)="toggleFilter('true', filterAssigned$)"
                    >Assigned</button>
                    <button class="btn btn-sm"
                        [class.btn-secondary]="filterAssigned$.value === 'false'"
                        [class.btn-outline-secondary]="filterAssigned$.value === 'true' || !filterAssigned$.value"
                        (click)="toggleFilter('false', filterAssigned$)"
                    >Not assigned</button>
                </div>



                <div class="btn-group filter">
                    <button class="btn btn-sm btn-outline-secondary" (click)="toggleSort()">Sort {{this.oppositeSort}}</button>
                </div>
            </div>
            <ng-container *ngIf="stories.entities.length > 0; else noStories">
                <div>
                    <accordion [isAnimated]="true">
                        <accordion-group *ngFor="let story of stories.entities; trackBy: getStoryId"
                            [panelClass]="story.inActiveSprint && !story.realized ? 'story-row active-story' : 'story-row'">
                            <div accordion-heading class="detail-header">
                                <sc-story-list-header
                                    [nav]="nav"
                                    [story]="story"
                                    (whenSelected)="onStorySelect($event)">
                                </sc-story-list-header>
                            </div>
                            <div>
                                <sc-story-list-content
                                    [nav]="nav"
                                    [story]="story"
                                    (whenUpdated)="updateData()"
                                ></sc-story-list-content>
                            </div>
                        </accordion-group>
                    </accordion>
                </div>
                <div class="pagination-container">
                    <pagination
                        [itemsPerPage]="limit$.value"
                        [totalItems]="stories.count"
                        (pageChanged)="newPage($event)"
                    ></pagination>
                </div>
            </ng-container>
            <ng-template #noStories>
                <p>No stories in this project match current filters.</p>
            </ng-template>
        </ng-container>
    </div>

</div>
