@import "src/styles/variables";

.story-actions {
    margin-bottom: 20px;

    .points-sum {
        margin-left: 15px;

        .over-limit {
            color: $danger-color;
            font-weight: 600;
        }
    }
}
.detail-header {
    min-height: 45px;

    sc-story-list-header {
        width: 100%;
    }
}
.pagination-container {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 40px;
}
.story-filters {
    display: flex;
    align-items: center;
    margin-bottom: 20px;

    .filter {
        margin-right: 15px;
    }
}


