@import "src/styles/variables";

.task-row {
    height: 50px;

    &.active-task {
        background-color: $blue-100;
        &:hover {
            background-color: $blue-100;
        }
    }
    &.completed-task {
        background-color: $green-50;
        &:hover {
            background-color: $green-50;
        }
    }

    .half-col {
        flex: 0 0 auto;
        width: 4%;
    }
    &:hover {
        background-color: $grey-50;
    }
    .assignment {
        display: flex;
        align-items: center;

        .assignee-section {
            margin-right: 15px;
            display: inline-flex;
            align-items: center;
        }
        .pending-mark {
            color: $light-grey;
            margin-left: 5px;
        }

        .emph {
            font-style: italic;
        }
        .assignee-button {
            fa-icon {
                font-size: 1.25rem;
            }
        }
        .assign-user-btn {
            color: $primary-color;
            &:hover {
                cursor: pointer;
            }
        }
    }
    .editable {
        &:hover {
            cursor: pointer;
        }
    }
    .row-content {
        display: inline-block;
        max-width: 550px;
    }


}
