@import "src/styles/variables";

.datepicker-theme {
    .bs-datepicker-head {
        background-color: $primary-color;
    }
    .btn-today-wrapper .btn-success, .btn-clear-wrapper .btn-success {
        background-color: $primary-color;
        border-color: $primary-color;
    }
    .bs-datepicker-predefined-btns button.selected {
        background-color: $primary-color;
    }
    .bs-datepicker-body table td span.selected, .bs-datepicker-body table td.selected span,
    .bs-datepicker-body table td span[class*=select-]:after, .bs-datepicker-body table td[class*=select-] span:after {
        background-color: $primary-color;
    }
    .bs-datepicker-body table td.week span {
        color: $primary-color;
    }
    .bs-datepicker-body table td.active-week span:hover {
        cursor: pointer;
        background-color: $primary-color;
        color: $white;
        opacity: 0.5;
        transition: 0s;
    }
}
