$font-roboto: 'Roboto', sans-serif;

$black: black;
$primary-color: #048A81;
$secondary-color: #080825;
$danger-color: #DB5461;
$warning-color: #FFC857;
$white: #ffffff;
$link-color: $secondary-color;

$light-grey: #bfbfbf;
$grey-50: #f1f1f1;
$grey-100: #e2e2e2;
$grey-200: $light-grey;
$grey-300: #d6d6d6;
$grey-500: #747474;

$green-100: #43a047;
$green-200: #27aa11;
$green-300: #006300;

$yellow-100: #ccc21b;
$yellow-200: #c5bb1c;
$yellow-300: #a0992d;

$red-100: #d22528;
$red-200: #bf241d;
$red-300: #950000;
$red-400: #630000;

$orange-100: orange;
$orange-200: #e5941c;

$purple-400: #590059;
