$font-roboto: 'Roboto', sans-serif;

$black: #000000;
$primary-color: #1d88c2;
$secondary-color: #00558c;
$danger-color: #f16372;
$warning-color: #FFC857;
$warning-border-color: #eab33f;
$white: #ffffff;
$link-color: #1d88c2;

$light-grey: #bfbfbf;
$grey-25: rgba(0, 0, 0, 0.075);
$grey-50: #f1f1f1;
$grey-100: #DEE2E6FF;
$grey-200: $light-grey;
$grey-300: #d6d6d6;
$grey-500: #747474;

$green-50: #b0b0b0;
$green-100: #527c2a;
$green-200: #a8a8a8;
$green-300: #989898;

$yellow-100: #ccc21b;
$yellow-200: #c5bb1c;
$yellow-300: #a0992d;

$red-100: #d22528;
$red-200: #bf241d;
$red-300: #950000;
$red-400: #630000;

$orange-100: orange;
$orange-200: #e5941c;

$purple-400: #590059;

$blue-100: #f0f6fd;
