<div class="container-lg" >

    <div class="row justify-content-center my-5">
        <div class="col-lg-6 ozadje">
            <div class="text-center rob">
                <h2>Add a new sprint</h2>
            </div>
            <ng-container *ngIf="nav$ | async as nav">
                <ng-container *ngIf="nav.status === navStates.IN_CONTEXT">
                <form [formGroup]="sprintForm" (ngSubmit)="createSprint(nav.projectId)" class="rob">
                    <div>
                        <div class="form-group">
                            <label for="title" class="form-label">Title:</label>
                            <input id="title" class="form-control" formControlName="title"
                                   [class.is-invalid]="hasError(sprintForm.get('title'))"
                                   placeholder="e.g. SprintTitle" />
                            <div class="invalid-feedback" *ngIf="hasError(sprintForm.get('title'), 'required')">
                                Title is required!
                            </div>
                        </div>

                        <div class="form-group">
                            <label>Start date:</label>
                            <input type="text"
                                class="form-control"
                                bsDatepicker
                                [class.is-invalid]="hasError(sprintForm.get('startDate')) || hasError(sprintForm)"
                                [bsConfig]="datePickerConfig"
                                formControlName="startDate"
                            />
                            <div class="invalid-feedback" *ngIf="hasError(sprintForm.get('startDate'), 'required')">
                                Start date is required.
                            </div>
                            <div class="invalid-feedback" *ngIf="hasError(sprintForm.get('startDate'), 'startInPast')">
                                Start date should be in the future.
                            </div>
                            <div class="invalid-feedback" *ngIf="hasError(sprintForm, 'endBeforeStart')">
                                Start date should be before end date.
                            </div>
                            <div class="invalid-feedback" *ngIf="hasError(sprintForm, 'sprintConflict')">
                                Conflicts with existing sprints!
                            </div>
                        </div>

                        <div class="form-group">
                            <label>End date:</label>
                            <input type="text"
                                class="form-control"
                                bsDatepicker
                                [bsConfig]="datePickerConfig"
                                formControlName="endDate"
                                [class.is-invalid]="hasError(sprintForm.get('endDate'))"
                            />
                            <div class="invalid-feedback" *ngIf="hasError(sprintForm.get('endDate'), 'required')">
                                End date is required.
                            </div>
                        </div>

                        <div class="form-group">
                            <label for="expectedSpeed" class="form-label zgorjirob">Velocity:</label>
                            <input [class.is-invalid]="hasError(sprintForm.get('expectedSpeed'))"
                                type="number" id="expectedSpeed" class="form-control"
                                [class.is-warned]="showVelocityWarning"
                                   formControlName="expectedSpeed"/>
                            <div class="invalid-feedback" *ngIf="hasError(sprintForm.get('expectedSpeed'), 'required')">
                                Velocity is required.
                            </div>
                            <div class="invalid-feedback" *ngIf="hasError(sprintForm.get('expectedSpeed'), 'min')">
                                Velocity has to be positive.
                            </div>
                            <div class="warning-feedback" *ngIf="showVelocityWarning">
                                You entered unusual velocity speed, are you sure?
                            </div>
                        </div>

                        <div class="form-actions">
                            <button type="button" (click)="resetForm()"
                                class="btn btn-outline-danger">
                                Reset
                            </button>

                            <button type="submit"
                                [disabled]="isInvalid(sprintForm)"
                                class="btn btn-primary">Create</button>
                        </div>
                    </div>

                </form>
                </ng-container>
            </ng-container>
        </div>
    </div>

</div>


