<div class="container-lg" >

    <div class="row justify-content-center my-5">
        <div class="col-lg-6 ozadje">
            <div class="text-center rob">
                <h2>Add a new sprint</h2>
            </div>
            <ng-container >
                <form [formGroup]="sprintForm" class="rob">
                    <div>

                        <div>
                            <label for="startdate" class="form-label">Start date:</label>
                            <input type="date" id="startdate" class="form-control" formControlName="startdate"/>
                        </div>

                        <div>
                            <label for="enddate" class="form-label zgorjirob">End date:</label>
                            <input [class.is-invalid]="hasError(sprintForm)" type="date" id="enddate" class="form-control" formControlName="enddate"/>
                            <div class="invalid-feedback" *ngIf="hasError(sprintForm, 'datesNotGood')">
                                End date is before start date!
                            </div>
                        </div>


                        <div>
                            <label for="velocity" class="form-label zgorjirob">Velocity:</label>
                            <input type="number" id="velocity" class="form-control" formControlName="velocity"/>
                        </div>

                        <div style="width: 100%; text-align: right;">
                            <button type="submit" class="gumb zgorjirob">Create</button>
                        </div>

                    </div>


                </form>
            </ng-container>
        </div>
    </div>

</div>


