<div class="container-lg" >

    <div class="row justify-content-center my-5">
        <div class="col-lg-6 ozadje">
            <div class="text-center rob">
                <h2>Add a new sprint</h2>
            </div>
            <ng-container *ngIf="nav$ | async as nav">
                <ng-container *ngIf="nav.status === navStates.IN_CONTEXT" >
                <form [formGroup]="sprintForm" (ngSubmit)="createSprint(nav.projectId)" class="rob">
                    <div>
                        <div>
                            <label for="title" class="form-label">Title:</label>
                            <input id="title" class="form-control" formControlName="title"
                                   [class.is-invalid]="hasError(sprintForm.get('title'))"
                                   placeholder="e.g. SprintTitle" />
                            <div class="invalid-feedback" *ngIf="hasError(sprintForm.get('title'), 'required')">
                                Title is required!
                            </div>
                        </div>

                        <div>
                            <label for="startDate" class="form-label">Start date:</label>
                            <input [class.is-invalid]="hasError(sprintForm.get('startDate')) || hasError(sprintForm)" type="date" id="startDate" class="form-control" formControlName="startDate"/>
                            <div class="invalid-feedback" *ngIf="hasError(sprintForm.get('startDate'), 'required')">
                                Start date is required.
                            </div>
                            <div class="invalid-feedback" *ngIf="hasError(sprintForm, 'startInPast')">
                                Start date should be in the future.
                            </div>
                            <div class="invalid-feedback" *ngIf="hasError(sprintForm, 'endBeforeStart')">
                                Start date should be before end date.
                            </div>
                        </div>

                        <div>
                            <label for="endDate" class="form-label zgorjirob">End date:</label>
                            <input [class.is-invalid]="hasError(sprintForm.get('endDate'))" type="date" id="endDate" class="form-control" formControlName="endDate"/>
                            <div class="invalid-feedback" *ngIf="hasError(sprintForm.get('endDate'), 'required')">
                                End date is required.
                            </div>
                        </div>


                        <div>
                            <label for="expectedSpeed" class="form-label zgorjirob">Velocity:</label>
                            <input [class.is-invalid]="hasError(sprintForm.get('expectedSpeed'))" type="number" id="expectedSpeed" class="form-control"
                                   formControlName="expectedSpeed"/>
                            <div class="invalid-feedback" *ngIf="hasError(sprintForm.get('expectedSpeed'), 'required')">
                                Velocity is required.
                            </div>
                            <div class="invalid-feedback" *ngIf="hasError(sprintForm.get('expectedSpeed'), 'min')">
                                Velocity has to be positive.
                            </div>

                        </div>

                        <div style="width: 100%; text-align: right;">
                            <button type="submit" class="gumb zgorjirob">Create</button>
                        </div>

                    </div>


                </form>
                </ng-container>
            </ng-container>
        </div>
    </div>

</div>


