<div>
    <div class="story-actions">
        <ng-container *ngIf="nav.status === navStates.IN_CONTEXT">
            <ng-container *ngIf="nav.projectRole.roleId !== projectRoles.PRODUCT_OWNER && allowTaskEdit">
                <button class="btn btn-sm btn-secondary" (click)="openTasksDialog()">
                    Tasks
                </button>
            </ng-container>
            <ng-container *ngIf="nav.projectRole.roleId !== projectRoles.MEMBER">
                <ng-container *ngIf="!story.realized && !story.inActiveSprint">

                <!-- DELETE naredi button kot tam-->
                <button class="btn btn-sm btn-secondary" (click)="openDeletePrompt(story)" style="margin-left: 0.5%">
                        Remove
                </button>

                        <a class="action-btn" [routerLink]="[story.id,'edit']"  style="margin-left: 0.5%">
                            <button class="btn btn-sm btn-secondary" style="margin-left: 0.5%">
                                Edit
                            </button>
                        </a>

                <!-- link do komponente edit-story naredi novo komponento-->
            </ng-container>
            </ng-container>
        </ng-container>
    </div>
    <div>
        <p>{{story.description}}</p>
        <div *ngIf="story.tests && story.tests.length > 0">
            <h5>Acceptance tests</h5>
            <div>
                <ul>
                    <li *ngFor="let test of story.tests">{{test.result}}</li>
                </ul>
            </div>
        </div>
    </div>
</div>
