@import "src/styles/variables";

.story-content-header {
    display: flex;
    justify-content: space-between;
    align-items: center;


    .story-actions {
        display: flex;
        justify-content: flex-end;
        align-items: center;

        button, span {
            margin-left: 15px;
        }
    }

}
