@import "src/styles/variables";

.actions {
    margin: 20px 0;
    display: flex;
    align-items: center;
}
.sorts {
    margin-bottom: 10px;
    .link {
        color: $link-color;
        &:hover {
            cursor: pointer;
        }
        &.active {
            color: $secondary-color;
        }
    }
}
.wall-content {
    padding-bottom: 80px;
}
.post-header {
    display: flex;
    justify-content: space-between;
    align-items: center;

    .comment-title {
        color: $black;
        &:hover {
            cursor: pointer;
        }
    }
    .comment-icon {
        font-size: 1rem;
        display: flex;
        align-items: center;
        color: $black;

        fa-icon {
            margin-left: 5px;
        }
        &:hover {
            cursor: pointer;
        }
    }
}
