@import "src/styles/variables";

.actions {
    display: flex;
    align-items: center;
    margin: 20px 0;

    .btn {
        margin-right: 15px;

        fa-icon {
            margin-right: 5px;
        }
        &:last-child {
            margin-right: 0;
        }
    }
}
.editor-container {
    padding-bottom: 60px;
}
