<h2 class="mt-5">Users</h2>
<div>
    <ng-container *ngIf="users$ | async as users">

        <div class="story-filters">
            <span class="filter" [class.applied]="filter$.value === statuses.ACTIVE" (click)="applyFilter('ACTIVE')">Active</span>
            <span class="filter" [class.applied]="filter$.value === statuses.DISABLED" (click)="applyFilter('DISABLED')">Disabled</span>
        </div>
        <ng-container *ngIf="users.entities.length > 0; else noMembers">
            <table class="table table-responsive table-hover">
                <thead>
                    <tr>
                        <th>Username</th>
                        <th class="action-col">Actions</th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let user of users.entities">
                        <td>{{user.lastName}} {{user.firstName}}</td>
                        <td class="action-col">
                            <ng-container *ngIf="user.status === 'ACTIVE'">
                                <span class="action-btn" tooltip="Remove" (click)="openDeletePrompt(user)">
                                    <fa-icon [icon]="['fas', 'trash-alt']"></fa-icon>
                                </span>
                            </ng-container>
                            <ng-container *ngIf="user.status === 'ACTIVE'">
                                <span class="action-btn" tooltip="Edit" (click)="openEditPrompt(user)" style="margin-left: 10px">
                                    <fa-icon [icon]="['fas', 'user-pen']"></fa-icon>
                                </span>
                            </ng-container>
                            <ng-container *ngIf="user.status === 'DISABLED'">
                                <span class="action-btn" tooltip="Reactivate" (click)="openActivatePrompt(user)">
                                    <fa-icon [icon]="['fas', 'certificate']"></fa-icon>
                                </span>
                            </ng-container>
                        </td>


                    </tr>
                </tbody>
            </table>

            <div class="pagination-container">
                <pagination
                    [itemsPerPage]="limit$.value"
                    [totalItems]="users.count"
                    (pageChanged)="newPage($event)"
                ></pagination>
            </div>
        </ng-container>
        <ng-template #noMembers>
            <p>No users yet!</p>
        </ng-template>
    </ng-container>


</div>
