<div *ngIf="nav$ | async as nav">
    <div class="mt-4 mb-4 d-flex justify-content-between align-items-center">
        <h1 class="mb-0">Project sprints</h1>

        <ng-container *ngIf="nav.status === navStates.IN_CONTEXT">
            <ng-container *ngIf="nav.projectRole.roleId === projectRoles.SCRUM_MASTER">
                <a class="btn btn-outline-primary" routerLink="../new">Add a new sprint</a>
            </ng-container>
        </ng-container>
    </div>

    <ng-container *ngIf="sprints$ | async as sprints">

        <h4 class="mt-2">Active sprint</h4>
        <div>
            <ng-container *ngIf="sprints.activeSprint; else noActive">
                <sc-sprint-row [sprint]="sprints.activeSprint"></sc-sprint-row>
            </ng-container>
            <ng-template #noActive>
                <p>No active sprints!</p>
            </ng-template>
        </div>

        <h4 class="mt-2">Future sprints</h4>
        <div>
            <ng-container *ngIf="sprints.futureSprints && sprints.futureSprints.length > 0; else noFuture">
                <div *ngFor="let sprint of sprints.futureSprints">
                    <sc-sprint-row [sprint]="sprint"></sc-sprint-row>
                    <button class="btn btn-sm btn-secondary" (click)="openDeletePrompt(sprint)" style="margin-left: 0.5%">
                        Remove
                    </button>
                    <a class="action-btn" [routerLink]="[sprint.id,'edit']"  style="margin-left: 0.5%">
                        <button class="btn btn-sm btn-secondary" style="margin-left: 0.5%">
                            Edit
                        </button>
                    </a>
                </div>
            </ng-container>
            <ng-template #noFuture>
                <p>No future sprints!</p>
            </ng-template>
        </div>

        <h4 class="mt-2">Past sprints</h4>
        <div>
            <ng-container *ngIf="sprints.pastSprints && sprints.pastSprints.length > 0; else noPast">
                <div *ngFor="let sprint of sprints.pastSprints">
                    <sc-sprint-row [sprint]="sprint"></sc-sprint-row>
                </div>
            </ng-container>
            <ng-template #noPast>
                <p>No past sprints!</p>
            </ng-template>
        </div>

    </ng-container>


</div>
