<div class="detail-header">
    <div class="detail-header-left-group">
        <ng-container *ngIf="nav.status === navStates.IN_CONTEXT">
            <ng-container *ngIf="nav.projectRole.roleId === projectRoles.SCRUM_MASTER">
                <ng-container *ngIf="story.timeEstimate && !story.realized && !story.assigned && allowSelection && !story.inActiveSprint; else checkPlaceholder">
                    <div class="story-check">
                        <input type="checkbox" [value]="story.id" (click)="onStorySelect($event)"/>
                    </div>
                </ng-container>
                <ng-template #checkPlaceholder>
                    <div class="story-check check-placeholder"></div>
                </ng-template>
            </ng-container>
        </ng-container>
        <div class="story-meta">
            {{story.title}} (#{{story.numberId}})
            <ng-container *ngIf="story.realized">
                <span class="badge bg-success">Realized</span>
            </ng-container>
            <ng-container *ngIf="showInSprintBadge && story.inActiveSprint">
                <span class="badge bg-info">In active sprint</span>
            </ng-container>
        </div>
    </div>
    <div class="detail-header-right-group">
        <div class="estimate-input">
            <label>Time estimate:</label>
            <input class="form-control form-control-sm"
                min="1"
                step="1"
                [disabled]="story.realized || story.inActiveSprint"
                (click)="preventExpand($event)"
                (ngModelChange)="onEstimateUpdate($event, story.id)"
                [class.is-invalid]="story.timeEstimate <= 0"
                [(ngModel)]="story.timeEstimate"/>
            <span>(pt)</span>
        </div>
    </div>
</div>
