<div class="detail-header">
    <div class="detail-header-left-group">
        <ng-container *ngIf="nav.status === navStates.IN_CONTEXT">
            <ng-container *ngIf="nav.projectRole.roleId === projectRoles.SCRUM_MASTER">
                <ng-container *ngIf="story.timeEstimate && !story.realized && !story.assigned && allowSelection && !story.inActiveSprint; else checkPlaceholder">
                    <div class="story-check">
                        <input type="checkbox" [value]="story.id" (click)="onStorySelect($event)"/>
                    </div>
                </ng-container>
                <ng-template #checkPlaceholder>
                    <div class="story-check check-placeholder"></div>
                </ng-template>
            </ng-container>
        </ng-container>
        <div class="story-meta">
            {{story.title}} (#{{story.numberId}})
            <ng-container *ngIf="story.realized">
                <span class="badge bg-success">Realized</span>
            </ng-container>
            <ng-container *ngIf="showInSprintBadge && story.inActiveSprint">
                <span class="badge bg-info">In active sprint</span>
            </ng-container>
            <ng-container *ngIf="showRejectedBadge && story.rejectComment">
                <span class="badge bg-danger" [title]="story.rejectComment">Rejected</span>
            </ng-container>
        </div>
    </div>
    <div class="detail-header-right-group">
        <div class="estimate-input">
            <ng-container *ngIf="nav.status === navStates.IN_CONTEXT">
                <ng-container *ngIf="nav.projectRole.roleId === projectRoles.SCRUM_MASTER; else noEstimateEdit">
                    <ng-container *ngIf="!story.realized && !story.inActiveSprint; else noEstimateEdit">
                        <label>Time estimate:</label>
                        <input class="form-control form-control-sm"
                            [numbersOnly]="true"
                            min="1"
                            step="1"
                            (click)="preventExpand($event)"
                            (ngModelChange)="onEstimateUpdate($event, story.id)"
                            [class.is-invalid]="timeEstimateError !== null"
                            [(ngModel)]="story.timeEstimate"/>
                        <span>(pt)</span>
                    </ng-container>
                </ng-container>
            </ng-container>
            <ng-template #noEstimateEdit>
                <div>
                    <span>Time estimate:</span>
                    {{story.timeEstimate}}
                    <span>pt</span>
                </div>
            </ng-template>
        </div>
    </div>
</div>
