@import "src/styles/variables";


.detail-header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    min-height: 45px;

    .story-check {
        margin-right: 15px;
        &.check-placeholder {
            min-width: 14px;
        }
    }

    .detail-header-left-group {
        display: flex;
        align-items: center;

        .story-meta {
            .badge {
                margin-left: 8px;
            }
        }
    }
    .detail-header-right-group {
        display: flex;
        align-items: center;

        .estimate-input {
            display: flex;
            align-items: center;

            label {
                margin-right: 5px;
            }
            input {
                width: 60px;
                margin-right: 5px;
            }
        }
    }
}
