<h2 class="mt-5">Projects</h2>
<div>
    <ng-container *ngIf="projects$ | async as projects">

        <div class="story-filters">
            <span class="filter" [class.applied]="filter$.value === statuses.ACTIVE" (click)="applyFilter('ACTIVE')">Active</span>
            <span class="filter" [class.applied]="filter$.value === statuses.DISABLED" (click)="applyFilter('DISABLED')">Disabled</span>
        </div>
        <ng-container *ngIf="projects.entities.length > 0; else noMembers">
            <table class="table table-responsive table-hover">
                <thead>
                    <tr>
                        <th class="num-col"></th>
                        <th>Name</th>
                        <th class="action-col">Actions</th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let project of projects.entities; let i = index; trackById">
                        <td class="num-col">{{offset$.value + i + 1}}.</td>
                        <td>
                            <a [routerLink]="[project.id, 'edit']">
                                {{project.name}}
                            </a>
                        </td>
                        <td class="action-col">
                            <ng-container *ngIf="project.status === 'ACTIVE'">
                                <span class="action-btn" tooltip="Remove" (click)="openDeletePrompt(project)">
                                    <fa-icon [icon]="['fas', 'trash-alt']"></fa-icon>
                                </span>
                            </ng-container>
                            <ng-container *ngIf="project.status === 'DISABLED'">
                                <span class="action-btn" tooltip="Reactivate" (click)="openActivatePrompt(project)">
                                    <fa-icon [icon]="['fas', 'certificate']"></fa-icon>
                                </span>
                            </ng-container>
                        </td>
                    </tr>
                </tbody>
            </table>

            <div class="pagination-container">
                <pagination
                    [itemsPerPage]="limit$.value"
                    [totalItems]="projects.count"
                    (pageChanged)="newPage($event)"
                ></pagination>
            </div>
        </ng-container>
        <ng-template #noMembers>
            <p>No projects yet!</p>
        </ng-template>
    </ng-container>


</div>
