<h2 class="mt-5">Projects</h2>
<div>
    <ng-container *ngIf="projects$ | async as projects">

        <div class="story-filters">
            <span class="filter" [class.applied]="filter$.value === statuses.ACTIVE" (click)="applyFilter('ACTIVE')">Active</span>
            <span class="filter" [class.applied]="filter$.value === statuses.DISABLED" (click)="applyFilter('DISABLED')">Disabled</span>
        </div>
        <ng-container *ngIf="projects.entities.length > 0; else noMembers">
            <table class="table table-responsive table-hover">
                <thead>
                    <tr>
                        <th>Name</th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let project of projects.entities">
                        <td>{{project.name}}</td>
                    </tr>
                </tbody>
            </table>

            <div class="pagination-container">
                <pagination
                    [itemsPerPage]="limit$.value"
                    [totalItems]="projects.count"
                    (pageChanged)="newPage($event)"
                ></pagination>
            </div>
        </ng-container>
        <ng-template #noMembers>
            <p>No projects yet!</p>
        </ng-template>
    </ng-container>


</div>
