<div class="modal-content modal-padd">
    <div class="modal-header">
        <h4 id="dialog-sizes-name1" class="modal-title pull-left">Story #{{storyNumberId}}</h4>
        <button type="button" class="btn-close close pull-right" aria-label="Close" (click)="close()">
            <span aria-hidden="true" class="visually-hidden">&times;</span>
        </button>
    </div>
    <div class="modal-body">
        <div class="container">
            <ng-container *ngIf="tasks$ | async as tasks">
                <ng-container *ngIf="tasks.length > 0; else noTasks">
                    <div class="row">
                        <strong class="col-6">
                            Task
                        </strong>
                        <strong class="col-2">
                            Estimate
                        </strong>
                        <strong class="col-3">
                            Assignee
                        </strong>
                        <strong class="col-1">
                            Actions
                        </strong>
                    </div>

                    <sc-task-list-row *ngFor="let task of tasks" [storyId]="storyId" [story]="story"
                        [projectId]="projectId" [task]="task"
                        (whenUpdated)="refreshData()"
                    ></sc-task-list-row>
                </ng-container>
                <ng-template #noTasks>
                    <p *ngIf="!story.realized && story.inActiveSprint">No tasks added yet! Use form below to add one.</p>
                    <p *ngIf="story.realized">This story had no tasks!</p>
                    <p *ngIf="!story.realized && !story.inActiveSprint">This story is not in active sprint and therefore was not assigned any tasks yet!</p>
                </ng-template>
            </ng-container>
        </div>

        <div class="mt-4">

            <form [formGroup]="taskForm" (ngSubmit)="addTask()" *ngIf="!story.realized && story.inActiveSprint">
                <h5>Add new task</h5>
                <div class="form-group">
                    <label>Description:</label>
                    <input class="form-control" formControlName="description" type="text"
                        [class.is-invalid]="hasError(taskForm.get('description'))"
                    />
                    <div class="invalid-feedback" *ngIf="hasError(taskForm.get('description'), 'required')">
                        Task description must be provided!
                    </div>
                </div>
                <div class="row mt-2">
                    <div class="col-6">
                        <div class="form-group">
                            <label>Time estimate (h):</label>
                            <input class="form-control" formControlName="estimate" type="number" min="0.5"
                                [class.is-invalid]="hasError(taskForm.get('estimate'))"/>
                            <div class="invalid-feedback" *ngIf="hasError(taskForm.get('estimate'), 'min')">
                                Time estimate cannot be zero or negative!
                            </div>
                        </div>
                    </div>
                    <div class="col-6">
                        <ng-container *ngIf="assigneeInitialsCtrl.value === null; else selectedUser">
                            <div class="form-group">
                                <label>Assign user:</label>
                                <input class="form-control" type="text"
                                    autocomplete="off"
                                    formControlName="userQuery"
                                    placeholder="Search users"
                                    [typeaheadAsync]="true"
                                    [typeahead]="members$"
                                    [typeaheadOptionsLimit]="5"
                                    [typeaheadWaitMs]="500"
                                    [typeaheadItemTemplate]="searchResultTemplate"
                                    (typeaheadOnSelect)="onUserSelect($event.item)"
                                    [typeaheadMinLength]="0"
                                />
                                <ng-template #searchResultTemplate let-model="item">
                                    <span>{{model.lastName}} {{model.firstName}}</span>
                                </ng-template>
                            </div>
                        </ng-container>
                        <ng-template #selectedUser>
                            <div class="form-group assignee-control">
                                <sc-user-initials-icon [initials]="assigneeInitialsCtrl.value"
                                    [disabled]="true"
                                ></sc-user-initials-icon>
                                <span class="user-name">
                                    {{assigneeNameCtrl.value}} (pending)
                                </span>
                                <span class="clear-btn" (click)="clearAssignee()">
                                    <fa-icon [icon]="['fas', 'times']"></fa-icon>
                                </span>
                            </div>
                        </ng-template>
                    </div>
                </div>
                <div class="form-actions">
                    <button class="btn btn-primary"
                        [disabled]="isInvalid(taskForm)"
                        type="submit">Add</button>
                </div>
            </form>
        </div>
    </div>
</div>
