@import "src/styles/variables";

.modal-padd {
    padding: 10px;
}
.form-actions {
    margin-top: 20px;
    display: flex;
    justify-content: flex-end;
    align-items: center;

    button[type=submit] {
        min-width: 80px;
    }
}
.user-icon {
    width: 34px;
    height: 34px;
    border-radius: 16px;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
    color: $white;
    font-weight: 600;
    background-color: $primary-color;
    opacity: 0.5;
}
.user-name {
    margin-left: 5px;
    margin-right: 10px;
    color: $light-grey;
}
.assignee-control {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    margin-top: 26px;

    .clear-btn {
        font-size: 1.1rem;
        &:hover {
            cursor: pointer;
        }
    }
}
.half-col {
    flex: 0 0 auto;
    width: 4%;
}
.modal-body {
    .container {
        max-width: 1600px;
    }
}
