<div>
    <div class="story-actions">
        <ng-container *ngIf="nav.status === navStates.IN_CONTEXT">
            <ng-container *ngIf="nav.projectRole.roleId !== projectRoles.PRODUCT_OWNER">
                <button class="btn btn-sm btn-secondary" (click)="openTasksDialog()">
                    Tasks
                </button>
            </ng-container>
        </ng-container>
    </div>
    <div>
        <p>{{story.description}}</p>
        <div *ngIf="story.tests && story.tests.length > 0">
            <h5>Acceptance tests</h5>
            <div>
                <ul>
                    <li *ngFor="let test of story.tests">{{test.result}}</li>
                </ul>
            </div>
        </div>
    </div>
</div>
