/* You can add global styles to this file, and also import other style files */
@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,400;0,500;0,700;1,300;1,400&display=swap");

@import "src/styles/variables";

$primary: $primary-color;
$secondary: $secondary-color;
$danger: $danger-color;
$warning: $warning-color;
$info: $primary-color;
$success: $green-100;
$body-bg: white;
$text-color: $black;
$link-color: $primary-color;
$link-hover-color: $secondary-color;
$link-hover-decoration: none;

@import "~bootstrap/scss/bootstrap.scss";
@import "~ngx-toastr/toastr";

body {
    margin: 0;
}

* {
    font-family: $font-roboto;
}

@import "src/styles/predefines";

.btn-primary, .btn-outline-primary {
    &:hover {
        color: $white;
    }
}
.btn-primary {
    color: $white;
}

a {
    text-decoration: none;
}
